.cards.style-1
  .col
    .card
      img.card-image(src="https://images.unsplash.com/photo-1503764654157-72d979d9af2f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=71cdddf5cc615224cf2c26614d20154d&auto=format&fit=crop&w=1353&q=80")
      .card-title Soaps
      .card-description Hot lunch
  .col
    .card
      img.card-image(src="https://images.unsplash.com/photo-1482049016688-2d3e1b311543?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c75e0437e819afdceeb3050a6bcdd71b&auto=format&fit=crop&w=353&q=80")
      .card-title Salads
      .card-description Very tasty and healthy
  .col
    .card
      img.card-image(src="https://images.unsplash.com/photo-1422255198496-21531f12a6e8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=25f55fdabb6531a58775e4b9bba51aa9&auto=format&fit=crop&w=753&q=80")
      .card-title Sweet macarons
      .card-description Colorful deserts
